/* @import url('https://css.gg/moon.css'); */
/* @import url('https://css.gg/sun.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* inizio background light navbar */
  --background-navbar: white;
  --background-navbar-text: black;
  --border-navbar-menu: white;
  --a-navbar: rgb(40, 13, 95);
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  /* fine background light navbar */

  /* inizio light mode earn passive income */
  --background-earn-passive-income: rgb(224, 222, 225);
  --color-h2-earn-passive-income: rgb(40, 13, 95);
  --color-header-switch-earn-passive-income: rgb(40, 13, 95);
  --color-span-switch-earn-passive-income: rgb(118, 69, 217);
  --svg-switch-earn-passive-income: #7a6eaa;
  --color-earn-p-i-text1: rgb(118, 69, 217);
  --color-earn-p-i-text2: rgb(40, 13, 95);
  --color-earn-p-i-text3: #7a6eaa;
  --border-right-earn-passve-income: rgb(118, 69, 217);
  /* fine light mode earn passive income */

  /* inizio light mode settings*/
  --presentation-settings: rgba(40, 13, 95, 0.6);
  --settings-top: rgb(224, 222, 225);
  --h2--settings-top: rgb(40, 13, 95);
  --background-color-settings-scroolbar: white;
  --color-font_settings2: rgb(40, 13, 95);
  --color-ball-settings: white;
  /* fine light mode settings */
}

[data-theme="dark"] {
  --main: rgb(118, 69, 217);
  --alternative: rgb(40, 13, 95);
  --mainsecondarycolor: rgb(31, 199, 212); /*color background button*/
  --coloroptionone: rgb(237, 75, 158);
  --coloroptionsecond: rgb(255, 178, 55);
  --coloroptionthird: rgb(154, 106, 255);
  --colors-textSubtle: rgb(
    184,
    173,
    210
  ); /*DARK color subtext Earn Passive Income, Cake, IconFooter, Nav, background button Learn How to Connect e tre pallini, */
  --colors-gradientBubblegum: linear-gradient(
    139.73deg,
    #313d5c,
    #3d2a54
  ); /*sfondo titolo connect wallet */
  /* inzio background dark navbar */
  --background-navbar: rgb(39, 38, 44);
  --background-navbar-text: white;
  --border-navbar-menu: rgb(39, 38, 44);
  --color-navbar-svg: #7a6eaa;
  --a-navbar: white;
  /* fine background dark navbar */
  /* inzio background dark earn passive income */
  --background-earn-passive-income: rgb(52, 41, 72);
  --color-h2-earn-passive-income: white;
  --color-header-switch-earn-passive-income: rgb(154, 106, 255);
  --color-span-switch-earn-passive-income: white;
  --svg-switch-earn-passive-income: rgb(184, 173, 210);
  --color-earn-p-i-text1: rgb(154, 106, 255);
  --color-earn-p-i-text2: white;
  --color-earn-p-i-text3: rgb(184, 173, 210);
  --border-right-earn-passve-income: black;
  /* fine background dark earn passive income */

  /* inizio dark mode settings*/
  --presentation-settings: rgb(207 202 219 / 60%);
  --settings-top: rgb(52, 41, 72);
  --h2--settings-top: white;
  --background-color-settings-scroolbar: rgb(39, 38, 44);
  --color-font_settings2: white;
  --color-ball-settings: black;

  /* fine dark mode settings*/
}

#root {
  width: 100vw;
  height: 100vh;
}

.darkswitch {
  color: var(--text-primary);
  background-color: var(--background);
  /* padding: 20px; */
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 20px;
  margin-right: 9px;
  background-color: gray;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 15px;
  height: 15px;
  background-color: white;
  opacity: 50%;
  position: absolute;
  top: 2.3px;
  left: 5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

.Moon,
.Moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.Moon {
  overflow: hidden;
  position: relative;
  transform: rotate(13deg) scale(var(--ggs, 0.8));
  width: 14px;
  height: 20px;
}

.Moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.Sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.7));
  width: 16px;
  height: 20px;
}
.Sun::after,
.Sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.Sun::before {
  transform: rotate(-45deg);
}
.Sun::after {
  transform: rotate(45deg);
}
