.swap_container {
  width: 100%;
  height: 100vh;
}
.swap_link_container {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-swap-link-container);
}
.swap_link {
  margin: 10px;
  height: 30px;
}
.swap_link a {
  text-decoration: none;
  color: #7a6eaa;
  font-size: 18px;
  font-weight: 600;
}
.swap_link:hover {
  display: block;
  box-shadow: rgb(133 133 133 / 10%) 0px -2px 0p;
}
.swap_link a:hover {
  border-bottom: 5px solid rgb(14, 169, 204);
}
.swap_middle_container {
  background-color: var(--background-swap_middle-container);
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.swap_charts {
  width: 70%;
  height: 70%;
  margin: 30px;
  background-color: var(--background-swap-chart);
  display: flex;
  justify-content: flex-end;
}

.swap_charts Chart {
  height: 100%;
  width: 100%;
}
.swap_chart_exit {
  width: 25px;
  position: absolute;
}
.swap_table {
  width: 30%;
  height: 90%;
  margin: 30px;
  background-color: var(--background-swap-table);
  border-radius: 25px;
}
.swap_top_button {
  height: 8%;
  background-color: var(--background-swap-button-one);
  border-radius: 25px;
  display: flex;
}
.swap_button_one {
  width: 50%;
  height: 100%;
  background-color: var(--background-swap-button-one);
  border-top-left-radius: 15px;
  border: none;
  border-top-right-radius: 25px;
}
.swap_button_two {
  width: 50%;
  height: 100%;
  background-color: var(--background-swap-button-two);
  border: none;
  border-top-right-radius: 15px;
}
.swap-text {
  color: #7a6eaa;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.swap-text-crypto {
  color: var(--background-swap-crypto);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.swap_settings {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border-boxNFT);
}
.swap_settings_firstRow {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.swap_chart_container {
  width: 20%;
  display: flex;
  justify-content: center;
}
#swap_SVG {
  width: 20px;
  fill: var(--background-swap-svg-chart);
  margin: 5px;
}
.swap_group_icon {
  width: 80%;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.swap_h2_text {
  color: var(--background-swap-h2);
  margin: 5px;
  width: 113px;
  font-size: 20px;
}
.swap_componet {
  width: 10%;
  margin: 5px;
  fill: var(--background-swap-svg-chart);
}
.swap_rec_transaction {
  width: 25px;
  margin: 5px;
}
#swap_SVG_recTransaction {
  fill: var(--background-swap-svg-chart);
}
.swap_refresh {
  margin: 5px;
}
.swap_settings_secondRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.swap_tokes_container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.swap_tokes_sub_container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swap_BNB_container {
  width: 95%;
  height: 10%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.swap_BNB_container2 {
  width: 95%;
  height: 40%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.swap_SVG_container {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
}
.swap_SVG_BNB {
  width: 25px;
  margin: 5px;
}
.swap_input_container {
  margin-top: 5px;
  width: 90%;
  height: 13%;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
}
.swap_input_container2 {
  margin-top: 5px;
  width: 90%;
  height: 35%;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
}
.swap_input {
  width: 95%;
  height: 100%;
  border-radius: 16px;
  background-color: var(--background-swap-input);
  border: none;
  font-size: 16px;
  color: var(--background-swap-text);
  padding: 0px 16px;
  text-align: right;
}
.swap_freccia_container {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swap_freccia_button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: var(--background-swap-freccia);
  border: none;
}
.swap_SVG_freccia {
  fill: rgb(90, 207, 218);
  width: 25px;
}
.swap_Cake_container {
  width: 95%;
  height: 40%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.swap_SVG_cake {
  width: 25px;
  margin: 5px;
}
.swap_SVG_copy {
  width: 20px;
  margin: 5px;
  fill: var(--background-swap-svg-chart);
}
.swap_container_risk {
  width: 89%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.swap_button_risk {
  margin: 5px;
  width: 30%;
  height: 80%;
  background-color: rgb(30, 199, 211);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.swap_text_button {
  color: white;
}
.swap_tolerance_container {
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}
.swap_text_font2 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 12px;
  color: #7a6eaa;
  margin: 18px;
}
.swap_text_font3 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(30, 199, 211);
  margin: 15px;
}
.swap_conteiner_component {
  width: 95%;
  height: 15%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect_wallet {
  width: 95%;
  display: flex;
  justify-content: center;
}
.Navbar_main_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1fc7d4;
  border-radius: 16px;
  width: 95%;
  height: 75%;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #1fc7d4;
  transition: all 0.3s ease;
  cursor: pointer;
}
.swap_bottom_container {
  width: 100%;
  height: 15%;
  background-color: var(--background-swap-bottom-container);
  display: flex;
  justify-content: space-between;
}
.swap_bottom_left_container {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.swap_bot_left_elem {
  width: 40%;
  height: 35%;
  background-color: rgb(238, 234, 244);
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.swap_bot_left_button {
  width: 40%;
  height: 100%;
  border: none;
  background-color: #7a6eaa;
  border-radius: 50px;
}
.swap_text_font4 {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.swap_bot_left_link {
  width: 50%;
  display: flex;
  justify-content: center;
}
.swap_bot_right_elem {
  display: flex;
  height: 35%;
  align-items: center;
}
.swap_bot_right_link {
  color: rgb(110, 200, 216);
  text-decoration: underline;
}
.swap_text_font5 {
  font-weight: 600;
  line-height: 1.5;
}
.swap_bot_SVG {
  margin-left: 5px;
  width: 20px;
  fill: rgb(110, 200, 216);
}
.swap_bottom_right_container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.swap_bottom_right_element_SVG_container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.swap_bottom_purple_container {
  height: 40%;
  background-color: #7a6eaa;
  width: 50%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swap_bottom_SVG_purple {
  width: 25px;
  fill: #7a6eaa;
}
/* css del componente tokensa */
.swap_tokens_middle_container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}
.swap_tokens_input_container {
  margin: 10px;
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.swap_tokens_input {
  width: 95%;
  border-radius: 16px;
  background-color: rgb(238, 234, 244);
  border: none;
  font-size: 16px;
  color: rgb(76, 53, 122);
  padding: 0px 16px;
}
.swap_tokens_buttons_container {
  margin: 10px;
  width: 95%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.swap_text_font6 {
  color: RGB(76 53 122);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}
.swap_tokens_buttons {
  width: 95%;
  height: 45%;
  display: flex;
  justify-content: space-around;
}
.tokens_button {
  width: 23%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  background: white;
}
.swap_crypto_container {
  margin: 10px;
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.crypto_container {
  width: 95%;
  height: 11%;
  display: flex;
  margin-bottom: 10px;
}
.crypto_symbol_font {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  color: RGB(76 53 122);
}
.crypto_name_font {
  font-weight: 400;
  font-size: 14px;
  color: #7a6eaa;
}
.tokens_bottom_container {
  width: 95%;
  margin: 10px;
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tokens_button {
  width: 40%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.swap_text_font7 {
  font-size: 16px;
  font-weight: 600;
  color: RGB(30 199 211);
  cursor: pointer;
}
/* media query */

@media screen and (min-width: 1080px) {
  .chart_background {
    display: none !important;
  }
  .swap_charts {
    width: 60%;
    height: 80%;
    margin: 30px;
    background-color: var(--background-swap-chart);
    border-radius: 25px;
  }
  .swap_table {
    width: 300px;
    height: 94%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }
  .swap_settings {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-boxNFT);
    justify-content: space-evenly;
  }
  .swap_BNB_container {
    width: 95%;
    height: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .swap_container_risk {
    width: 89%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .swap_bottom_left_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 968px) {
  .chart_background {
    display: none !important;
  }
  .swap_charts {
    width: 60%;
    height: 80%;
    margin: 30px;
    background-color: var(--background-swap-chart);
    border-radius: 25px;
  }
  .swap_table {
    width: 300px;
    height: 94%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }
  .swap_settings {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-boxNFT);
    justify-content: space-evenly;
  }
  .swap_BNB_container {
    width: 95%;
    height: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .swap_container_risk {
    width: 89%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .swap_bottom_left_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 851px) {
  .chart_background {
    display: none !important;
  }
  .swap_charts {
    width: 50%;
    height: 80%;
    margin: 30px;
    background-color: var(--background-swap-chart);
    border-radius: 25px;
  }
  .swap_table {
    width: 300px;
    height: 94%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }
  .swap_settings {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-boxNFT);
    justify-content: space-evenly;
  }
  .swap_BNB_container {
    width: 95%;
    height: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .swap_container_risk {
    width: 89%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .swap_bottom_left_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .chart_background {
    display: none !important;
  }
  .swap_charts {
    width: 60%;
    height: 80%;
    margin: 30px;
    background-color: var(--background-swap-chart);
    border-radius: 25px;
  }
  .swap_table {
    width: 300px;
    height: 94%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }
  .swap_settings {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-boxNFT);
    justify-content: space-evenly;
  }
  .swap_BNB_container {
    width: 95%;
    height: 10%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .swap_container_risk {
    width: 89%;
    height: 23%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .swap_bottom_left_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 665px) {
  .swap_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 253, 255);
  }
  .swap_link_container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-swap-link-container);
  }

  .swap_table {
    width: 70%;
    height: 90%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }
  

  .swap_charts {
    display: none;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .swap_bottom_left_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
  .swap_bot_left_elem {
    width: 40%;
    height: 62%;
    background-color: rgb(238, 234, 244);
    border-radius: 50px;
    display: flex;
    align-items: center;
  }
  .swap_bottom_right_container {
    width: 88%;
    display: flex;
    justify-content: center;
    height: 55%;
  }
  .swap_bottom_purple_container {
    height: 60%;
    background-color: #7a6eaa;
    width: 50%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swap_bottom_SVG_purple {
    width: 25px;
    fill: #7a6eaa;
    position: relative;
    right: 6px;
  }
}
@media screen and (max-width: 576px) {
  .swap_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 253, 255);
  }
  .swap_link_container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-swap-link-container);
  }

  .swap_table {
    width: 70%;
    height: 90%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }

  .swap_charts {
    display: none;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .swap_bottom_left_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 86%;
    display: flex;
    justify-content: center;
    height: 55%;
  }
  .swap_bottom_SVG_purple {
    width: 25px;
    fill: #7a6eaa;
    position: relative;
    right: 6px;
  }
}
@media screen and (max-width: 405px) {
  .swap_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 253, 255);
  }
  .swap_link_container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-swap-link-container);
  }

  .swap_table {
    width: 90%;
    height: 90%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }

  .swap_charts {
    display: none;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .swap_bottom_left_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55%;
  }
  .swap_bottom_SVG_purple {
    width: 25px;
    fill: #7a6eaa;
    position: relative;
    right: 6px;
  }
}
@media screen and (max-width: 370px) {
  .swap_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 253, 255);
  }
  .swap_link_container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-swap-link-container);
  }
  .swap_link {
    margin: 5px;
    height: 30px;
  }

  .swap_table {
    width: 90%;
    height: 90%;
    margin: 30px;
    background-color: var(--background-swap-table);
    border-radius: 25px;
  }

  .swap_charts {
    display: none;
  }
  .swap_bottom_container {
    width: 100%;
    height: 15%;
    background-color: var(--background-swap-bottom-container);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .swap_bottom_left_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .swap_bottom_right_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 55%;
  }
  .swap_bottom_SVG_purple {
    width: 25px;
    fill: #7a6eaa;
    position: relative;
    right: 6px;
  }
}
